body {
    background-color: lightskyblue;
}

button {
    background-color: floralwhite;
}

#uploadTable {
    background-color: black;
    font-size: 20;
}

.uploadRow {
    background-color: whitesmoke;
}

.fileColumn {
    width: 25%;
}

.messageColumn {
    width: 75%;
}

#fileHeader {
    width: 25%;
}

#messageHeader {
    width: 75%;
}